// Force white background everywhere
:root,
[data-bs-theme="light"],
[data-bs-theme="dark"] {
  --bs-body-bg: #ffffff !important;
  --bs-body-color: #000000 !important;
  --bs-body-bg-rgb: 255, 255, 255 !important;
  --bs-body-color-rgb: 0, 0, 0 !important;
  --bs-emphasis-color: #000000 !important;
  --bs-emphasis-color-rgb: 0, 0, 0 !important;
  --bs-secondary-color: #000000 !important;
  --bs-secondary-color-rgb: 0, 0, 0 !important;
  --bs-heading-color: #000000 !important;
  --bs-link-color: #000000 !important;
  --bs-link-color-rgb: 0, 0, 0 !important;
  --bs-link-hover-color: #333333 !important;
  color-scheme: light !important;
}

html {
  background-color: #ffffff !important;
  color: #000000 !important;
}

body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

body * {
  color: #000000 !important;
}

.container-fluid,
.container,
.container-footer {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.jumbotron {
  background-color: #ffffff !important;
  color: #000000 !important;
  padding:20px; 
  padding-bottom:7px; 
  margin-top:22px; 
  margin-bottom:22px;
}

.navbar {
  margin-bottom: 20px;
  border-bottom: 4px solid var(--secondary);
  background-color: #ffffff !important;
}

.navbar-dark,
.bg-dark,
.bg-light {
  background-color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #000000 !important;
}

.navbar-dark .navbar-brand,
.navbar-light .navbar-brand {
  color: #000000 !important;
}

.panel-footer {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.card {
  background-color: #ffffff !important;
  color: #000000 !important;
}

section#footer {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.well-collapse {
  background-color: #ffffff !important;
  color: #000000 !important;
}

// Force all text to black - override everything including dark theme
*,
[data-bs-theme="dark"] *,
[data-bs-theme="light"] * {
  color: #000000 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000000 !important;
}

p, span, div, li, td, th, label, small, strong, em, b, i {
  color: #000000 !important;
}

a, a:link, a:visited {
  color: #000000 !important;
}

a:hover, a:active {
  color: #333333 !important;
}

.navbar * {
  color: #000000 !important;
}

.jumbotron * {
  color: #000000 !important;
}

.panel-footer * {
  color: #000000 !important;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-fluid {
  max-width: 800px;
}

.container-footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  padding-left:  20px;
  padding-right: 20px;
}

.well-collapse {
  padding-left:  20px;
  padding-right: 20px;
  padding-top:   12px;
  padding-bottom: 4px;
  border-radius:  7px;
  min-height:     1px;
  margin-top:    15px;
  color: black;
  background-color: var(--gray);
  border: 2px solid var(--gray-dark);
  blockquote {
    border-color: var(--gray-dark);
    border-color: rgba(0,0,0,.15);
  }
}


.embed-container-home {
  position: relative;
  padding: 0px;
  margin: 0px;
  // width: 435px;
  // height: 150px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url($baseurl + "/images/thumbs/3dtrain.jpeg");
}

.embed-container {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 175px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  // margin-left:7px;
  // border: 1px solid red;

.embed-container-spleen {
  height: 155px;
  background-image: url($baseurl + "/images/thumbs/spleen.jpg");
}

.embed-container-leuk {
  height: 112px;
  background-image: url($baseurl + "/images/thumbs/spleen.jpg");
}

.MathJax_ref {
  fill: #00bc8c!important;
}
